node_modules
MONGODB_URI="mongodb+srv://nandalalkv:Lalu%4012345@cluster0.vwz4lda.mongodb.net"
PORT=5000
JWT_SECRET="gs#secret"

CLOUDINARY_CLOUD_NAME='dn0xygcup'
CLOUDINARY_API_KEY='856675658396461'
CLOUDINARY_API_SECRET='3n-PYfP_wsxiMVb9-tTrrjvmdBE'
